################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GdCo2Si2Inputs
/GdCo2Si2Results
/out/build
