################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GdCo2Si2Inputs
/GdCo2Si2Results
/out/build
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compasskernel
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2f102b442d9060d8ac2c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-79c18ef0d088a2b5124b.json
build/.cmake/api/v1/reply/codemodel-v2-cc9b256e198b11a3618e.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-13T00-35-12-0536.json
build/.cmake/api/v1/reply/target-compasskernel-Debug-c69ae15359a6026e9f4b.json
build/.cmake/api/v1/reply/toolchains-v1-d9825e059bbd614ec032.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.29.5/CMakeCCompiler.cmake
build/CMakeFiles/3.29.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.29.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.29.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.29.5/CMakeSystem.cmake
build/CMakeFiles/3.29.5/CompilerIdC/a.out
build/CMakeFiles/3.29.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.29.5/CompilerIdCXX/a.out
build/CMakeFiles/3.29.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/compasskernel.dir/src/helpers.cpp.o
build/CMakeFiles/compasskernel.dir/src/main.cpp.o
build/CMakeFiles/compasskernel.dir/src/MomentReader.cpp.o
build/CMakeFiles/compasskernel.dir/src/multithreadingSim.cpp.o
build/CMakeFiles/compasskernel.dir/src/scriptHandler.cpp.o
build/CMakeFiles/compasskernel.dir/src/SettingsClass.cpp.o
build/CMakeFiles/compasskernel.dir/src/SimEnvironment.cpp.o
build/CMakeFiles/compasskernel.dir/src/simRunner.cpp.o
build/CMakeFiles/compasskernel.dir/src/timeUtility.cpp.o
build/SimLog_0.txt
build/.cmake/api/v1/reply/cache-v2-1214b40211350146118b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9a2c837c81db6d5c12ba.json
build/.cmake/api/v1/reply/codemodel-v2-08f4d0dff5be2af5b556.json
build/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-06-13T01-01-59-0889.json
build/.cmake/api/v1/reply/target-compasskernel-Release-a7d3d5a0786f8e7943dc.json
